---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BlogTitle from "../components/BlogTitle.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

import Footer from "../components/Footer.astro";
import BlogTemplate from "../components/BlogTemplate.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body class="bg-[#02020B] overflow-x-hidden container-fluid">
    <Header />
    <main>
      <section class="py-28">
        <div class="container-fluid mx-auto px-[48px] md:px-[60px] lg:px-20">
          <div>
            <BlogTitle />
            <div
              class="gap-y-8 flex flex-col flex-wrap gy-8 lg:flex-row py-16 border-solid border-b-2 border-[#767A81] lg:gap-y-10"
            >
              {
                posts &&
                  posts.map((p) => (
                    <BlogTemplate
                      title={p.frontmatter.title}
                      img={p.frontmatter.heroImage}
                      description={p.frontmatter.description}
                      paragraph={p.frontmatter.paragraph}
                      url={p.url}
                    />
                  ))
              }
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />

    <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script src="../JS/script.js"></script>
  </body>
</html>
