---
import BlogTemplate from "./BlogTemplate.astro";

const { id } = Astro.props;
const blogs = await Astro.glob("../pages/blog/*.{md,mdx}");
const openBlog = blogs.filter((blog) => blog.frontmatter.id !== id);
---

<section role="otherBlog">
  <div class="container-fluid px-[48px] lg:px-[72px]">
    <div class="blog">
      <div class="blog_title flex flex-col lg:flex-row lg:items-center">
        <h1
          class="sm:text-[18px] md:text-[26px] lg:text-[32px] text-white basis-[50%] flex items-center gap-[12px] section-title eng-txt"
        >
          <span
            class="w-[1rem] h-[1rem] rounded-full bg-red-500 border-none inline-block"
          ></span>Other Related Articles
        </h1>
      </div>
      <div class="blog_cardContainer flex-wrap flex flex-col lg:flex-row pt-16">
        {
          openBlog &&
            openBlog.map((B) => (
              <BlogTemplate
                title={B.frontmatter.title}
                img={B.frontmatter.heroImage}
                description={B.frontmatter.description}
                paragraph={B.frontmatter.paragraph}
                url={B.url}
              />
            ))
        }
      </div>
    </div>
  </div>
</section>
